doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title!= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="assets/plugins/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/plugins/css-emoticons/stylesheets/jquery.cssemoticons.css")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    block content
    script(src="assets/plugins/jquery/jquery-1.11.3.min.js")
    script(src="assets/plugins/bootstrap/js/bootstrap.min.js")
    script(src="assets/plugins/css-emoticons/javascripts/jquery.cssemoticons.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="assets/js/network.js")